@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #0e101c;
  font-family: 'SpoqaHanSansNeo-Regular';
}
.auth-wrapper {
  display: flex;
  font-family: 'SpoqaHanSansNeo-Regular';
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
}
.auth-wrapper input {
  box-sizing: border-box;
  width: 100%;
  border: solid 1px #999999;
  border-radius: 9px;
  padding: 5px;
}
.auth-wrapper form {
  width: 374px;
  margin: 40px auto;
}
.auth-wrapper #id1 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 35px;
}
.auth-wrapper #id2 {
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}
.auth-wrapper p {
  color: #bf1650;
}
.auth-wrapper p::before {
  display: inline;
  content: '⚠ ';
}
.auth-wrapper label {
  line-height: 2;
  text-align: left;
  display: block;
  font-size: 14px;
  color: #999999;
}
.message-form-button {
  background: #7a84eb;
  color: #f0f0f0;
  text-transform: uppercase;
  border: none;
  margin-top: 60px;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;
  border-radius: 25px;
}
.message-form-button:hover {
  background: #636ee6;
  color: #f0f0f0;
  text-transform: uppercase;
  border: none;
  margin-top: 60px;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;
  border-radius: 25px;
}
.auth-wrapper button[type='submit'],
.auth-wrapper input[type='submit'] {
  background: #7a84eb;
  color: #f0f0f0;
  text-transform: uppercase;
  border: none;
  margin-top: 60px;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;
  border-radius: 25px;
}

.auth-wrapper button[type='submit']:hover,
.auth-wrapper input[type='submit']:hover {
  background: #636ee6;
}
.auth-wrapper img {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 60px;
}
.auth-wrapper a {
  color: gray;
  text-decoration: none;
  margin-top: 100px;
}
